<mat-sidenav-container class="sidenav-menu" >

  <mat-sidenav #sidenav mode="side" class="sidenav-menu-container" >
      <div *ngFor="let item of menuItems">
        <div  class="sidenav-menu-item">
          <a [routerLink]="item.navigateTo"
             (click)="identifyActiveRoute(item.navigateTo)"
             [ngStyle]="item.active? {'color': '#F2E8CF'}: {'color':'#6A994E'}">
            {{item.label}}
          </a>
        </div>
      </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidenav-menu-header">
      <button type="button" class="sidenav-menu-header-button" mat-button (click)="sidenav.toggle()">
        <i class="material-icons">menu</i>
      </button>

      <div class="sidenav-menu-first-item">
        <i class="material-icons">file_present</i>
        <span>Teste EzDev</span>
      </div>

      <div class="search">
        <div>
          <input type="text" class="search-input" placeholder="O que você está procurando?">
          <i class="material-icons">search</i>
        </div>
      </div>

      <i class="material-icons">account_circle</i>

      <div class="sidenav-menu-first-item">
        <span>Teste EzDev</span>
      </div>

      <i class="material-icons">settings</i>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>




